@font-face {
  font-family: AvenirNextRegular;
  src: url(/assets/_Global_Font/AvenirNextProLT/Linotype\-\AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirNextBold;
  src: url(/assets/_Global_Font/AvenirNextProLT/);
}
